html {
    font-size: 12px;
}

#navbar {
  margin: 0 auto 20px auto;
  padding: 0 0 20px 0;
}

#navbar button {
	border: 3px solid #0E83CD;
	font-family: inherit;
	font-size: 0.8em;
	color: #ffffff;
	background-color: #0E83CD;
	cursor: pointer;
	padding: 1em 0.5em 1em 0.5em;
	display: inline-block;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    width: 180px;
}

#navbar button:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	background: #fff;
}

#navbar button:hover,
#navbar button:active {
	border: 3px solid #0E83CD;
    background: none;
	color: #0E83CD;
}

#navbar button:hover:after,
#navbar button:active:after {
	height: 100%;
}

table {
  border: 2px solid #42b983;
  border-radius: 3px;
  background-color: #fff;
  font-size: inherit;
  margin-bottom: 10px;
}

th {
  background-color: #42b983;
  color: rgba(255,255,255,0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  background-color: #f9f9f9;
}

th, td {
  padding: 10px 20px;
}

/* Messages */

.notification {
  border: 2px solid #42AEB9;
  border-radius: 3px;
  background-color: #f9f9f9;
  font-size: inherit;
  margin-bottom: 4px;
  padding: 1em;
  width: 100%;
}

/* Form */

form ul {
    padding: 0 10px 0 10px;
}
form ul li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
form ul label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
form ul input[type=text],
form ul input[type=date],
form ul input[type=datetime],
form ul input[type=number],
form ul input[type=search],
form ul input[type=time],
form ul input[type=url],
form ul input[type=email],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
form ul input[type=text]:focus,
form ul input[type=date]:focus,
form ul input[type=datetime]:focus,
form ul input[type=number]:focus,
form ul input[type=search]:focus,
form ul input[type=time]:focus,
form ul input[type=url]:focus,
form ul input[type=email]:focus,
form ul textarea:focus,
form ul select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
form ul .field-divided{
    width: 49%;
}

form ul .field-long{
    width: 100%;
}
form ul .field-select{
    width: 100%;
}
form ul .field-textarea{
    height: 100px;
}
form ul input[type=submit], form ul input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
form ul input[type=submit]:hover, form ul input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
form ul .required{
    color:red;
}
