<html>
  <head>
    <meta charset="UTF-8">
    <title>Flow and life</title>
    <script src="libs/vue.min.js"></script>
    <script src="libs/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div id="app">

      <h1>Flow: el camino de la vida</h1>
      <div id="register" v-if="! rapper.email">
          <table>
            <tr>
              <th>Email</th>
              <th>Nombre</th>
              <th>Estilo</th>
              <th>Go</th>
            </tr>
            <tr>
              <td><input type="text" v-model="user_email"></td>
              <td>-</td>
              <td>-</td>
              <td>
                <button type="button" v-on:click="get_rapper(user_email)">login</button>
              </td>
            </tr>
            <tr>
              <td><input type="text" v-model="register.email"></td>
              <td><input type="text" v-model="register.name"></td>
              <td>
                <select v-model="register.style">
                  <option value="Lyric">Lirico</option>
                  <option value="Melodic">Melodico</option>
                  <option value="Aggresive">Agresivo</option>
                </select>
              </td>
              <td>
                <button type="button" v-on:click="new_user()">Registrarse</button>
              </td>
            </tr>
          </table>
      </div>
      <div v-else>
        <div id="rapper">
            <h2>Rapero</h2>
            <table>
              <tr>
                <th>Nombre</th>
                <th>Estilo</th>
                <th>Efectivo</th>
                <th>Fans</th>
                <th>Flow</th>
                <th>Semana</th>
              </tr>
              <tr>
                <td>{{rapper.name}}</td>
                <td>{{rapper.style}}</td>
                <td>{{rapper.wallet.cash}}</td>
                <td>{{rapper.fans}}</td>
                <td>{{rapper.flow}}</td>
                <td>{{rapper.week}}</td>
              </tr>
            </table>
        </div>

        <div id="credit_card">
            <h2>Tarjeta de credito</h2>
            <table>
              <tr>
                <th>Limite disponible</th>
                <th>Balance</th>
                <th>Gastos del mes</th>
                <th>Tasa de interés</th>
                <th>Semana del último cierre</th>
                <th>Cargos por mora</th>
                <th>Limite</th>
                <th>Tasa de pago mínimo</th>
                <th>Balance del próximo cierre</th>
                <th>Pago mínimo del próximo cierre</th>
                <th>Pŕoxima semana de cierre</th>
              </tr>
              <tr>
                <td>{{rapper.credit_card.available_limit}}</td>
                <td>{{rapper.credit_card.balance}}</td>
                <td>{{rapper.credit_card.current_expenses}}</td>
                <td>{{rapper.credit_card.interest_rate}}</td>
                <td>{{rapper.credit_card.last_closure_week}}</td>
                <td>{{rapper.credit_card.late_fees_charge}}</td>
                <td>{{rapper.credit_card.limit}}</td>
                <td>{{rapper.credit_card.minimum_pay_rate}}</td>
                <td>{{rapper.credit_card.next_closure_balance}}</td>
                <td>{{rapper.credit_card.next_closure_minimum_pay}}</td>
                <td>{{rapper.credit_card.next_closure_week}}</td>
              </tr>
            </table>
        </div>

        <div id="investments" v-if="rapper.investments.length > 0">
            <h2>Inversiones</h2>
            <span v-for="i in rapper.investments">{{i.type}},</span>
        </div>

        <div id="loans" v-if="rapper.loans.length > 0">
            <h2>Prestamos</h2>
            <table>
                <tr>
                    <th>Cantidad</th>
                    <th>Tasa de interés</th>
                    <th>Duración</th>
                    <th>Semana de inicio</th>
                    <th>Deuda</th>
                    <th>Pagado</th>
                    <th>Deuda pendiente</th>
                </tr>
                <tr v-for="l in rapper.loans">
                    <td>{{ l.amount }}</td>
                    <td>{{ l.interest_rate }}</td>
                    <td>{{ l.duration }}</td>
                    <td>{{ l.start_week }}</td>
                    <td>{{ l.debt }}</td>
                    <td>{{ l.payed }}</td>
                    <td>{{ l.remaining_debt }}</td>
                </tr>
            </table>
        </div>

        <div id="plazos_fijos" v-if="rapper.certificates_of_deposit.length > 0">
            <h2>Plazos fijos</h2>
            <table>
                <tr>
                    <th>Monto</th>
                    <th>Tasa de interés</th>
                    <th>Duración</th>
                    <th>Semana de inicio</th>
                </tr>
                <tr v-for="cd in rapper.certificates_of_deposit">
                    <td>{{ cd.money }}</td>
                    <td>{{ cd.interest_rate }}</td>
                    <td>{{ cd.duration }}</td>
                    <td>{{ cd.start_week }}</td>
                </tr>
            </table>
        </div>

        <div id="actions">
            <h2>Acciones</h2>
          <form>
            <table>
                <tr>
                    <th>Acción</th>
                    <th>Opciones</th>
                    <th>Go</th>
                </tr>
                <tr>
                    <td>
                    <select v-model="actions.command">
                      <option value="buy_item">Comprar objeto</option>
                      <option value="concert">Dar concierto</option>
                      <option value="make_investment">Hacer inversión</option>
                      <option value="pay_credit_card">Pagar tarjeta de crédito</option>
                      <option value="pay_loan">Pagar prestamo</option>
                      <option value="relax">Relajar</option>
                      <option value="request_loan">Pedir prestamo</option>
                      <option value="request_new_card_limit">Pedir nuevo límite de la tarjeta</option>
                      <option value="request_plazo_fijo">Hacer un plazo fijo</option>
                    </select>
                    </td>
                    <td>
                    <div id="commands" v-if="actions.command == 'buy_item'">
                      Metodo de pago:
                      <select v-model="actions.buy_item.payment_method">
                        <option value="cash">efectivo</option>
                        <option value="credit">tarjeta</option>
                      </select>
                      Item:
                      <select v-model="actions.buy_item.item_id">
                          <option v-for="item in store.items" v-bind:value="item.name">{{ item.name }} - ${{ item.price}} - {{ item.flow }} flow</option>
                      </select>
                    </div>
                    <div id="commands" v-if="actions.command == 'concert'">
                      Lugar:
                      <select v-model="actions.concert.venue_id">
                          <option v-for="venue in venues" v-bind:value="venue.name">{{ venue.name }} - ${{ venue.cost }} - capacity {{ venue.capacity }}</option>
                      </select>
                    </div>
                    <div id="commands" v-if="actions.command == 'make_investment'">
                      Inversión:
                      <select v-model="actions.make_investment.investment_type">
                          <option v-for="i in investments" v-bind:value="i.name">{{ i.nice_name }} - ${{ i.money_cost }} - {{ i.flow_cost }} flow</option>
                      </select>
                    </div>
                    <div id="commands" v-if="actions.command == 'pay_credit_card'">
                          Monto: <input type="text" v-model.number="actions.pay_credit_card.amount" type="number">
                    </div>
                    <div id="commands" v-if="actions.command == 'pay_loan'">
                          Monto: <input type="text" v-model.number="actions.pay_loan.amount" type="number">
                          <select v-model.number="actions.pay_loan.loan_id" type="number">
                            <option v-for="(l, index) in rapper.loans" v-bind:value="l.id">
                                Prestamo {{index}} de la semana {{l.start_week}}
                            </option>
                          </select>
                    </div>
                    <div id="commands" v-if="actions.command == 'request_loan'">
                          Monto: <input type="text" v-model.number="actions.request_loan.amount" type="number">
                          Semanas: <input type="text" v-model.number="actions.request_loan.duration" type="number">
                          Tasa de interés: {{ 100 * actions.request_loan.interest_rate }}%
                    </div>
                    <div id="commands" v-if="actions.command == 'request_new_card_limit'">
                          Monto: <input type="text" v-model.number="actions.request_new_card_limit.new_limit" type="number">
                    </div>
                    <div id="commands" v-if="actions.command == 'request_plazo_fijo'">
                          Monto: <input type="text" v-model.number="actions.request_plazo_fijo.amount" type="number">
                          Semana: <input type="text" v-model.number="actions.request_plazo_fijo.duration" type="number">
                          Tasa de interés: {{ 100 * actions.request_plazo_fijo.interest_rate }}%
                    </div>
                    </td>
                    <td>
                       <button type="button" v-on:click="submit_action()">Hacer</button>
                    </td>
                </tr>
            </table>
          </form>
        </div>

        <h2>Manager</h2>

        <div id="result" v-if="manager.result">
          <h3>Resultado</h3>
          <div class="notification">{{manager.result}}</div>
        </div>

        <div id="advices" v-if="manager.advice.length > 0">
          <h3>Consejos</h3>
          <div class="notification" v-for="a in manager.advice">{{a}}</div>
        </div>

        <div id="updates" v-if="manager.updates.length > 0">
          <h3>Anuncios</h3>
          <div class="notification" v-for="a in manager.updates">{{a}}</div>
        </div>

        <div id="errors" v-if="manager.error">
          <h3>Atenti</h3>
          <div class="notification">{{manager.error}}</div>
        </div>
      </div>

    </div>
  </body>
  <script src="js/flow.js"></script>
</html>
